* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-transform: capitalize;
font-family: monospace;
  text-decoration: none;
  color: #ffffff;
}
body {
  background-color: rgb(221, 206, 206);
  
}
.full-screen {
  width: 80%;
  height: 200vh;
  margin-left: 10%;
}
/* section styles */
.home-sec {
  height: 50vh;
  background-color: #ffffff;
}
.books-sec {
  height: 50vh;
  background-color: #ffffff;
}
.store-sec {
  height: 50vh;
  background-color: #ffffff;
}
.services-sec {
  height: 50vh;
  background-color: #ffffff;
}
/* about */
.about-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35vh;
  background-color: #ffffff;
}
.ul-icons img {
  width: 30px;
  height: 30px;
}
.ul-icons img:hover {
  width: 40px;
  height: 40px;
}
.about-sec li a {
  color: #967d7d;
}
.about-sec li a:hover {
  color: #000000;
}
.about-sec ul {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-sec ul li {
  margin-bottom: 10px;
  font-weight: bold;
  padding: 15px 20px;
}
.ul-items {
  width: 25%;
  height: 80%;
}
.ul-icons {
  width: 10%;
  height: 80%;
}

/* navgition style */
nav {
  width: 80%;
  height: 8vh;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: tomato;
}
.logo {
  width: 25%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.logo label {
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}
nav ul{
  height: 8vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li {
  list-style: none;
  font-weight: bold;
  font-size: 18px;
}
ul li a:hover {
  color: black;
}
.login-sign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 8vh;
}
#login-img,#btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* login page style /////////////////////////////////////////////////////////////////////////*/
.login-form{
  width: 50%;
  height: 50vh;
  background-color: #967d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}